*,
*:after,
*:before {
    box-sizing: border-box;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeue-UltraLight.otf) format('TrueType');
    font-weight: 300;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(images/wooden-bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Helvetica', sans-serif;
    color: white;
    letter-spacing: 0.056em;
}

.phone {
    position: absolute;
    top: max(50%, 21.925em);  /*2nd param is a half of the height*/
    left: max(50%, 10.575em); /*2nd param is a half of the width*/
    transform: translate(-50%, -50%);
    height: 43.85em;
    width: 21.15em;
    background: #f8f8f8;
    border: 0.25em solid #ccb8a6;
    border-radius: 2.5em;
    box-shadow: inset 6px 1px 16px 0 #5B57546B, -25px -25px 50px 0px #000000CC;
    padding: 0.75em;
}

.header {
    position: relative;
    padding: 0.25em 5.5em 2em;
}

.sensor {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background: #333;
}

.header__sensor {
    display: block;
    margin: 0 auto 0.65em;
}

.speaker {
    width: 3.5em;
    height: 0.3em;
    border-radius: 0.3em;
    background: #292728;
}

.header__speaker {
    display: block;
    margin: 0 auto;
}

.camera {
    width: 0.75em;
    height: 0.75em;
    background: #333;
    border-radius: 50%;
}

.header__camera {
    display: block;
    float: left;
    margin-top: -0.25em;
}

.stripe {
    width: 0.1875em;
    height: 0.75em;
    background-color: #e7ded6;
}

.phone__top-left-stripe,
.phone__bottom-left-stripe {
    position: absolute;
    left: -0.1875em;
}

.phone__top-right-stripe,
.phone__bottom-right-stripe {
    position: absolute;
    right: -0.1875em;
}

.phone__top-left-stripe,
.phone__top-right-stripe {
    top: 3.25em;
}

.phone__bottom-stripe {
    bottom: 3.25em;
}

.screen {
    height: 33.85em;
    width: 18.75em;
    border: 2px solid #000000E6;
    border-radius: 0.15em;
    overflow: hidden;
    background-image: url(images/phone-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.phone__screen {
    position: relative;
    margin: 0 auto;
}

.signal-container {
    position: absolute;
    top: 0.1em;
    left: 0.4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signal-dot {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background: #ffffffE6;
    border: 1px solid #fff;
    margin-right: 0.1em;
}

.signal-title {
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 0.6rem;
}

.screen__wifi-img {
    width: 1em;
}

.screen__battery-img {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    width: 1.35em;
}

.time {
    font-size: 3.75rem;
    text-align: center;
}

.screen__time {
    margin-top: 0.8em;
}

.date {
    font-size: 0.85rem;
    font-weight: 600;
}

.screen__date {
    text-align: center;
}

.unlock-slide {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    background: -webkit-linear-gradient(left, #ffffffff 0%, #ffffff80 30%, #ffffff80 70%, #ffffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 17.5em;
    animation: slide 2s linear infinite;
}

.screen__unlock-slide {
    position: absolute;
    bottom: 2.5em;
    width: 100%;
}

@keyframes slide {
    0% {
        background-position: 5em 0;
    }

    100% {
        background-position: 22em 0;
    }
}

.swipe-control {
    width: 1.8em;
    height: 0.35em;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.5);
}

.screen__top-swipe-control {
    margin: 0.4em auto 0;
}

.screen__bottom-swipe-control {
    position: absolute;
    bottom: 0.4em;
    left: 0;
    right: 0;
    margin: auto;
}

.screen__camera-img {
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    width: 1.3em;
}

.on-off {
    height: 2em;
    width: 0.25em;

}

.up,
.down,
.sleep {
    height: 3em;
    width: 0.25em;
}

.on-off,
.up,
.down {
    background: linear-gradient(to left, #ccb8a6 0%, #ccb8a6 30%, #e7ded6 60%);
    border-radius: 0.2em 0em 0em 0.2em;
}

.sleep {
    border-radius: 0em 0.2em 0.2em 0em;
    background: linear-gradient(to right, #ccb8a6 0%, #ccb8a6 10%, #e7ded6 60%);
}

.phone__on-off,
.phone__up,
.phone__down,
.phone__sleep {
    position: absolute;
    display: block;
}

.phone__on-off {
    top: 5em;
    left: -0.4em;
}

.phone__up {
    top: 8.5em;
    left: -0.4em;
}

.phone__down {
    top: 12.5em;
    left: -0.4em;
}

.phone__sleep {
    left: auto;
    right: -0.4em;
    top: 8.5em;
}

.footer {
    padding: 0.75em 0 0;
}

.phone__home-button {
    position: relative;
    margin: 0 auto;
}

.home-button {
    display: block;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    background: linear-gradient(300deg, #8a7058 0%, #e7ded6 73%, #fff 98%);
}

.home-button:after {
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    content: "";
    display: block;
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-height: 600px) {
    html {
        font-size: 0.6rem;
    }
}

@media screen and (min-height: 601px) and (max-height: 768px) {
    html {
        font-size: 0.8rem;
    }
}

@media screen and (min-height: 769px) and (max-height: 900px) {
    html {
        font-size: 1rem;
    }
}

@media screen and (min-height: 901px) and (max-height: 1150px) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-height: 1151px) and (max-height: 1300px) {
    html {
        font-size: 1.5rem;
    }
}

@media screen and (min-height: 1301px) and (max-height: 1600px) {
    html {
        font-size: 1.7rem;
    }
}

@media screen and (min-height: 1601px) and (max-height: 2048px) {
    html {
        font-size: 2rem;
    }
}

@media screen and (min-height: 2049px) and (max-height: 3000px) {
    html {
        font-size: 2.8rem;
    }
}