*,
*:after,
*:before {
    box-sizing: border-box;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeue-UltraLight.otf) format('TrueType');
    font-weight: 300;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(images/wooden-bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Helvetica', sans-serif;
    color: white;
    letter-spacing: 0.07em;
}

.phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    height: 54.813em;
    width: 26.438em;
    background: #f8f8f8;
    border: 3px solid #ccb8a6;
    border-radius: 3.125em;
    box-shadow: inset 6px 1px 16px 0 #5B57546B, 0 0 0 1px #ccb8a6, -25px -25px 50px 0px #000000CC;
    padding: 0.938em;
}

.header {
    position: relative;
    padding: 0.313em 6.875em 2.5em;
}

.sensor {
    height: 0.625em;
    width: 0.625em;
    border-radius: 50%;
    background: #333;
}

.header__sensor {
    display: block;
    margin: 0 auto 0.813em;
}

.speaker {
    width: 4.375em;
    height: 0.375em;
    border-radius: 0.375em;
    background: #292728;
}

.header__speaker {
    display: block;
    margin: 0 auto;
}

.camera {
    width: 0.938em;
    height: 0.938em;
    background: #333;
    border-radius: 50%;
}

.header__camera {
    display: block;
    float: left;
    margin-top: -0.313em;
}

.stripe {
    width: 26.438em;
    height: 0.938em;
    border-left: 3px solid #e7ded6;
    border-right: 3px solid #e7ded6;
}

.phone__top-stripe,
.phone__bottom-stripe {
    position: absolute;
    left: -0.188em;
}

.phone__top-stripe {
    top: 4.063em;
}

.phone__bottom-stripe {
    bottom: 4.063em;
}

.screen {
    padding: 0.5em;
    height: 42.313em;
    width: 23.438em;
    border: 2px solid #000000E6;
    border-radius: 0.188em;
    overflow: hidden;
    background-image: url(images/phone-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.phone__screen {
    position: relative;
    margin: 0 auto;
}

.signal-container {
    position: absolute;
    top: 0.125em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signal-dot {
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
    background: #ffffffE6;
    border: 1px solid #fff;
    margin-right: 0.125em;
}

.signal-title {
    margin-left: 0.125em;
    margin-right: 0.125em;
    font-size: 0.75rem;
}

.screen__battery-img {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.time {
    font-size: 4.688rem;
    text-align: center;
}

.screen__time {
    margin-top: 0.56em;
}

.date {
    font-size: 1.063rem;
    font-weight: 600;
}

.screen__date {
    text-align: center;
}

.unlock-slide {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    background: -webkit-linear-gradient(left, #ffffffff 0%, #ffffff80 30%, #ffffff80 70%, #ffffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 21.875em;
    animation: slide 2s linear infinite;
}

.screen__unlock-slide {
    position: absolute;
    bottom: 3.125em;
    width: 100%;
}

@keyframes slide {
    0% {
        background-position: 6.25em 0;
    }

    100% {
        background-position: 27.5em 0;
    }
}

.swipe-control {
    width: 2.25em;
    height: 0.438em;
    border-radius: 0.313em;
    background: rgba(255, 255, 255, 0.5);
}

.screen__top-swipe-control {
    margin: 0 auto;
}

.screen__bottom-swipe-control {
    position: absolute;
    bottom: 0.5em;
    left: 0;
    right: 0;
    margin: auto;
}

.screen__camera-img {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.on-off {
    height: 2.5em;
    width: 0.188em;

}

.up,
.down,
.sleep {
    height: 3.75em;
    width: 0.313em;
}

.on-off,
.up,
.down {
    background: linear-gradient(to left, #ccb8a6 0%, #ccb8a6 30%, #e7ded6 60%);
    border-radius: 0.25em 0em 0em 0.25em;
}

.sleep {
    border-radius: 0em 0.25em 0.25em 0em;
    background: linear-gradient(to right, #ccb8a6 0%, #ccb8a6 10%, #e7ded6 60%);
}

.phone__on-off,
.phone__up,
.phone__down,
.phone__sleep {
    position: absolute;
    display: block;
}

.phone__on-off {
    top: 6.25em;
    left: -0.375em;
}

.phone__up {
    top: 10.625em;
    left: -0.5em;
}

.phone__down {
    top: 15.625em;
    left: -0.5em;
}

.phone__sleep {
    left: auto;
    right: -0.5em;
    top: 10.625em;
}

.footer {
    padding: 0.938em 0 0;
}

.phone__home-button {
    position: relative;
    margin: 0 auto;
}

.home-button {
    display: block;
    width: 4.25em;
    height: 4.25em;
    border-radius: 50%;
    background: linear-gradient(300deg, #8a7058 0%, #e7ded6 73%, #fff 98%);
}

.home-button:after {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    content: "";
    display: block;
    width: 3.75em;
    height: 3.75em;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}