.popup-ok-btn {
    width: 49%;
    height: 3.25em;
    padding: 0;
    border: none;
    background: rgba(60, 134, 244, 0.15);
    color: #0053cf;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25em;
    border-radius: 0.75em;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: auto;
}

.state-btn[disabled] {
    color: #fff;
    background: #d3d3d3;
    cursor: not-allowed;
}

.state-btn:not([disabled]):hover {
    color: #0053cf;
    background: rgba(60, 134, 244, 0.35);
}

.state-btn:not([disabled]):active {
    color: #fff;
    background: #3c86f4;
}

.element-whole-width {
    width: 100%;
}
