.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    width: 32.75em;
    min-height: 21.875em;
    max-height: 31.25em;
    background-color: #ffffff;
    border-radius: 1.5em;
    padding: 1.5em 1.6875em 1.375em 2em;
    z-index: 2;
}

.popup h2 {
    text-align: center;
    line-height: 2.04625em;
    margin: 0;
}
