.cancel-btn {
    width: 49%;
    height: 3.25em;
    padding: 0;
    border: none;
    background: #fff;
    color: #0053cf;
    font-family: "Nunito";
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25em;
    border-radius: 0.75em;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #f5f5f5;
}
