.dvd-logo {
    width: var(--logo-width);
    height: var(--logo-height);
}

.surface__dvd-logo {
    position: absolute;

    animation-name: moveX, moveY, changeColor;
    animation-duration: 5s, 4s, 80s;
    animation-timing-function: linear, linear, steps(1, end);
    animation-delay: 0s, 0s, 0s;
    animation-iteration-count: infinite, infinite, infinite;
    animation-direction: alternate, alternate, normal;
}

@keyframes moveX {
    from {
        left: 0;
        transform: rotateX(-90deg) translateY(calc(0vw - var(--logo-height) / 2));
    }

    to {
        left: calc(100% - var(--logo-width));
        transform: rotateX(-90deg) translateY(calc(0vw - var(--logo-height) / 2));
    }
}

@keyframes moveY {
    from {
        top: calc(0vw - var(--logo-height) / 2);
        transform: rotateX(-90deg) translateY(calc(0vw - var(--logo-height) / 2));

    }

    to {
        top: calc(100% - var(--logo-height) / 2);
        transform: rotateX(-90deg) translateY(calc(0vw - var(--logo-height) / 2));

    }
}

@keyframes changeColor {
    0% {
        filter: var(--blue);
    }


    5% {
        filter: var(--yellow);
    }


    6.25% {
        filter: var(--red);
    }


    10% {
        filter: var(--green);
    }


    12.5% {
        filter: var(--purple);
    }


    15% {
        filter: var(--orange);
    }


    18.75% {
        filter: var(--fuchsia);
    }


    20% {
        filter: var(--blue);
    }


    25% {
        filter: var(--red);
    }


    30.0% {
        filter: var(--green);
    }


    31.25% {
        filter: var(--purple);
    }


    35% {
        filter: var(--orange);
    }


    37.5% {
        filter: var(--fuchsia);
    }


    40.0% {
        filter: var(--blue);
    }


    43.75% {
        filter: var(--yellow);
    }


    45.0% {
        filter: var(--red);
    }


    50% {
        filter: var(--green);
    }


    55% {
        filter: var(--orange);
    }


    56.25% {
        filter: var(--fuchsia);
    }


    60% {
        filter: var(--blue);
    }


    62.5% {
        filter: var(--yellow);
    }


    65% {
        filter: var(--red);
    }


    68.75% {
        filter: var(--green);
    }


    70% {
        filter: var(--purple);
    }


    75% {
        filter: var(--orange);
    }


    80% {
        filter: var(--blue);
    }


    81.25% {
        filter: var(--yellow);
    }


    85% {
        filter: var(--red);
    }


    87.5% {
        filter: var(--green);
    }


    90% {
        filter: var(--purple);
    }


    93.75% {
        filter: var(--orange);
    }


    95% {
        filter: var(--fuchsia);
    }

    100% {
        filter: var(--blue);
    }
}


