:root {
    --shadow-hight: 4vh;
}

.shadow {
    width: var(--logo-width);
    height: var(--shadow-hight);
    background-image: radial-gradient(100% 100% at center, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0) 50%);
}

.dvd-logo__shadow {
    position: absolute;

    animation-name: moveLogoShadowX, moveLogoShadowY;
    animation-duration: 5s, 4s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, alternate;
}

@keyframes moveLogoShadowX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - var(--logo-width));
        ;
    }
}

@keyframes moveLogoShadowY {
    from {
        top: 0;
    }

    to {
        top: calc(100% - var(--shadow-hight));
    }
}
