:root {
  --green: invert(75%) sepia(30%) saturate(7284%) hue-rotate(75deg) brightness(102%) contrast(137%);
  --blue: invert(8%) sepia(100%) saturate(7476%) hue-rotate(248deg) brightness(97%) contrast(143%);
  --yellow: invert(90%) sepia(56%) saturate(3495%) hue-rotate(355deg) brightness(105%) contrast(108%);
  --red: invert(16%) sepia(91%) saturate(7297%) hue-rotate(359deg) brightness(107%) contrast(110%);
  --purple: invert(18%) sepia(91%) saturate(7144%) hue-rotate(273deg) brightness(93%) contrast(127%);
  --orange: invert(65%) sepia(40%) saturate(2407%) hue-rotate(359deg) brightness(102%) contrast(106%);
  --fuchsia: invert(20%) sepia(45%) saturate(6818%) hue-rotate(294deg) brightness(114%) contrast(128%);
  --color-num: 7;
  --duration-x: 2s;
}

body {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

img {
  position: relative;

  animation-name:
    moveX,      moveY,      colorBlue,      colorYellow,    colorRed,       colorFuchsia,   colorGreen,     colorOrange,    colorPurple;
  animation-duration:
    5s,         4s,         20s,            12s,            20s,            12s,            20s,            12s,            20s;
  animation-timing-function:
    linear,     linear,     steps(1, end),  steps(1, end),  steps(1, end),  steps(1, end),  steps(1, end),  steps(1, end),  steps(1, end);
  animation-delay:
    0s,         0s,         0s,             4s,             0s,             4s,             0s,             4s,             0s;
  animation-iteration-count:
    infinite,   infinite,   infinite,       infinite,       infinite,       infinite,       infinite,       infinite,       infinite;
  animation-direction:
    alternate,  alternate;
}

@keyframes colorBlue {
  0% {
    filter: var(--blue);
  }
}

@keyframes colorYellow {
  2% {
    filter: var(--yellow);
  }
}

@keyframes colorRed {
  25% {
    filter: var(--red);
  }
}

@keyframes colorFuchsia {
  33.3% {
    filter: var(--fuchsia);
  }
}

@keyframes colorGreen {
  50% {
    filter: var(--green);
  }
}

@keyframes colorOrange {
  66.6% {
    filter: var(--orange);
  }
}

@keyframes colorPurple {
  75% {
    filter: var(--purple);
  }
}




@keyframes moveX {
  from {
    left: 300px;
  }

  to {
    left: 100%;
    transform: translate(-100%, 0);
  }
}

@keyframes moveY {
  from {
    top: 0;
    transform: translate(-100%, 0);
  }

  to {
    top: 100%;
    transform: translate(-100%, -100%);
  }
}
