.passcode-screen {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.passcode-screen__passcode-heading {
    font-size: 0.9rem;
    font-weight: 900;
    margin-top: 4em;
}

.passcode-dot {
    display: inline-block;
    height: 0.625em;
    width: 0.625em;
    padding: 0.313em;
    border: 0.063em solid;
    border-radius: 50%;
    color: #fff;
    margin: 0.313em;
}

.entered-passcode-dot {
    background-color: #fff;
}

.passcode-screen__passcode-digits {
    margin-top: 1.5em;
}

.passcode-buttons-row {
    display: flex;
    justify-content: center;
}

.passcode-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin: 0.35em;
    cursor: pointer;
    font-size: 1.8rem;
    border: 0.063em solid;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.passcode-dot,
.passcode-button {
    transition: all .5s ease 0s;
}

.passcode-button:hover {
    background: rgba(200, 200, 200, 0.4);
    border-color: rgba(200, 200, 200, 0.4);
}

.passcode-button:active {
    background: rgba(200, 200, 200, 0.2);
    border-color: rgba(200, 200, 200, 0.2);
    color: #BBBBBB;
}

.passcode-button__letters {
    font-size: 0.4rem;
    line-height: 0.188em;
}

.passcode-screen__bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    padding: 0 3em;
    font-size: 0.7rem;
    font-weight: 600;
}

.cancel-btn {
    cursor: pointer;
}

.vibration {
    animation: vibrate 0.5s;
}

@keyframes vibrate {
    from {
        margin-left: 0em;
        animation-timing-function: cubic-bezier(0.25, 0.01, 0.55, 0.16);
    }

    25% {
        margin-left: 1.83em;
        animation-timing-function: cubic-bezier(0.52, 0.44, 0.47, 0.44);
    }

    50% {
        margin-left: 0em;
        animation-timing-function: cubic-bezier(0.53, 0.56, 0.48, 0.56);
    }

    75% {
        margin-right: 1.83em;
        animation-timing-function: cubic-bezier(0.45, 0.84, 0.75, 0.99);
    }

    to {
        margin-right: 0em;
    }
}
