.search-and-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-panel {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.top-panel__new-task-btn {
    margin-left: 2.5em;
}

.new-task-btn {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25em;
    color: #0053cf;
    background: rgba(60, 134, 244, 0.15);
    border-radius: 0.75em;
    border: none;
    cursor: pointer;
    padding: 1em 2.2em;
    white-space: nowrap;
}
