:root {
    --grey-icon: invert(49%) sepia(54%) saturate(0%) hue-rotate(170deg)
        brightness(95%) contrast(81%);
    --light-blue-icon: invert(47%) sepia(27%) saturate(4062%) hue-rotate(198deg)
        brightness(97%) contrast(98%) opacity(60%);
    --blue-icon: invert(23%) sepia(49%) saturate(4490%) hue-rotate(209deg)
        brightness(88%) contrast(106%);
}

.bucket-icon {
    filter: var(--grey-icon);
    cursor: pointer;
}

.bucket-icon:hover {
    filter: var(--light-blue-icon);
}

.bucket-icon:active {
    filter: var(--blue-icon);
}
