* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: Inter-SemiBold;
  src: url(../fonts/Inter-SemiBold.woff2) format("TrueType");
  font-weight: 600;
}

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.woff2) format("TrueType");
  font-weight: 400;
} */

body {
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f2f4f7;
}

.page {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.central-area {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
  gap: 2em;
}
.info-section {
  width: 100%;
  border-radius: 0.75em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  gap: 2em;
}

.info-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.875em;
  border-bottom: 1px solid #eaecf0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.info-section__title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875em;
  color: #282828;
}

.info-section__kebab-menu-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 0.125em;
  cursor: pointer;
}
