/* Mobile */
@media screen and (min-width: 100px) and (max-width: 485px) {
  html {
    font-size: 1rem;
  }

  body {
    background-color: #ffffff;
  }

  .wrapper {
    padding: 4.375em 1em 0;
  }

  .sidebar {
    display: none;
  }

  .top-bar {
    padding: 1em 1em 0 1em;
    border-bottom: none;
  }

  .top-bar__logo {
    display: block;
  }

  .top-bar__icons {
    display: none;
  }

  .top-bar__items-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .top-bar__search {
    position: absolute;
    top: 5em;
    margin-left: 0;
    width: calc(100% - 2em);
  }

  .banner {
    flex-direction: column;
    gap: 0.3em;
    height: auto;
    padding: 2em;
    margin-top: 0;
  }

  .banner__title {
    text-align: center;
  }

  .banner__subtitle {
    text-align: center;
  }

  .upgrade-btn__img--desktop {
    display: none;
  }

  .upgrade-btn__img--mobile {
    display: block;
  }

  .metrics {
    flex-direction: column;
    gap: 1em;
  }

  .card {
    flex-direction: column;
    padding: 0.75em 1em;
    width: 100%;
    height: 8.25em;
  }

  .card__title {
    font-size: 0.875rem;
    line-height: 1.5714em;
  }

  .card__subtitle {
    font-size: 1.375rem;
    line-height: 1.727272em;
  }

  .chart-curves {
    width: calc(100% - 1.9375em);
  }

  .chart__x-axis {
    margin-left: 2.583333em;
  }

  .table {
    table-layout: auto;
    min-width: 60em;
  }
}

@media screen and (min-width: 486px) and (max-width: 640px) {
  html {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  html {
    font-size: 0.6rem;
  }
}

/* Desktop */

@media screen and (min-width: 1008px) and (max-width: 1279px) {
  html {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
  html {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2249px) {
  html {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 2250px) and (max-width: 2559px) {
  html {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2560px) and (max-width: 2999px) {
  html {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 3000px) and (max-width: 3839px) {
  html {
    font-size: 2rem;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 2.6rem;
  }
}
