body {
  margin: 0;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 10.4vh;
  height: 10.4vh;
  margin: 1.25em;
}

.clock__minute-hand {
  transform: rotate(60deg);
  transform-origin: 50% 50%;
  animation: rotateMinuteHand 6s linear 0s infinite;
}

.clock__hour-hand {
  transform: rotate(-60deg);
  transform-origin: 50% 50%;
  animation: rotateHourHand 36s linear 0s infinite;
}

@keyframes rotateMinuteHand {
  100% {
    transform: rotate(420deg);
  }
}

@keyframes rotateHourHand {
  100% {
    transform: rotate(300deg);
  }
}
