.popup__tasks-list {
    list-style-type: none;
    margin: 0 0 0.5625em 0;
    padding-left: 1.5em;
    overflow-x: auto;
}

.popup__tasks-list li {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.375em;
    margin-bottom: 0.5625em;
}

.popup__tasks-list li:last-child {
    margin-bottom: 0;
}

.popup__text {
    margin-top: 0.9375em;
    margin-bottom: 0.5625em;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    color: #000000;
}
