.tasks-section {
    margin-top: 2.625em;
    width: 30.125em;
}

.tasks-section li {
    list-style-type: none;
}

.tasks-section__subheading {
    margin: 0;
}

.subheading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375em;
}
