* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(fonts/Inter-SemiBold.woff2) format("TrueType");
  font-weight: 600;
}

@font-face {
  font-family: Inter-Regular;
  src: url(fonts/inter_Inter-Regular.woff) format("TrueType");
  font-weight: 400;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Inter";
  background-color: #f2f4f7;
}

.page {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 14.5em;
  height: 64em;
  background-color: #ffffff;
  border-right: 1px solid #eaecf0;
}

.sidebar-wrapper__logo {
  margin: 1.125em 0 3.375em 1.25em;
}

.logo {
  height: 1.3906em;
  width: 6.2em;
  cursor: pointer;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  padding: 0 1.25em;
  font-family: "Inter-SemiBold";
}

.menu__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}

.menu__title {
  font-size: 0.75rem;
  line-height: 1.25em;
  color: #9d9fa2;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: #5f6980;
}

.menu-link {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.75em 0;
  gap: 1em;
}

.menu-link__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menu-link__frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.menu-link__arrow {
  width: 1.25em;
  height: 1.25em;
  padding: 0.25em;
}

.menu-link__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375em;
}

.menu-link__header--active {
  color: #282828;
}

.menu-link__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.75em;
  gap: 0.75em;
  font-size: 0.875rem;
  line-height: 1.375em;
}

.menu-link__links > p {
  margin: 0;
  cursor: pointer;
}

.menu-links__item--active {
  color: #282828;
}

.sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75em 1.25em;
  gap: 3.875em;
  border-top: 1px solid #eaecf0;
}

.sidebar-footer__icon {
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;
}

.central-area {
  width: 100%;
}

.top-bar {
  width: 100%;
  height: 4.125em;
  background-color: #ffffff;
  border-bottom: 1px solid #eaecf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  padding: 0 1em 0 2.75em;
  font-family: "Inter-Regular";
  font-size: 14px;
  min-width: 56.5625rem;
  height: 2.875em;

  background: url(images/search.svg) no-repeat 1em center;
  border: 1px solid #eaecf0;
  border-radius: 0.375em;
}

.search::placeholder {
  color: #9d9fa2;
}

.search:focus {
  outline: none;
}

.top-bar__search {
  margin-left: 2em;
}

.notification-container > img {
  display: block;
}

.notification-container:after {
  content: "";
  position: absolute;
  width: 6.86px;
  height: 6.86px;
  left: 16px;
  top: 6px;

  background: #e25563;
  border-radius: 50% 50%;
}

.top-bar__items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 2em;
  margin-right: 2em;
}

.top-bar__items img {
  cursor: pointer;
}

.top-bar__icons {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 2em;
}

.avatar-placeholder:after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  right: 0.0625em;
  top: 1.9375em;

  background: #20c997;
  border: 1.33333px solid #ffffff;
  border-radius: 66.6667px;
}

.avatar-placeholder > img {
  display: block;
  width: 2.5em;
}

.avatar-placeholder {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  border: 1.5px solid #ffffff;
  border-radius: 6.25em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
  gap: 2em;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 8em;
  background: #282828;
  border-radius: 1em;
  margin-top: 2em;
  padding: 0 2.25em;
}

.upgrade-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.375em;
  width: 8.9375em;
  height: 2.875em;
  background: #ffffff;
  border-style: none;
  border-radius: 2.4375em;
  padding: 0.5625em 1.5em;
  font-family: "Inter-SemiBold";
  font-size: 16px;
  cursor: pointer;
}

.banner__message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.5em;
  color: #ffffff;
}

.banner__title {
  margin: 0;
  font-family: "Inter-SemiBold";
  font-size: 28px;
  letter-spacing: -0.0375em;
}

.banner__subtitle {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 1.375em;
}

/* Metrics */

.metrics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  /* height: 10.125em; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25em;
  /* gap: 0.5em; */

  width: 16.375em;
  height: 10.125em;

  background: #ffffff;
  box-shadow: 0em 0.0625em 0.625em rgba(0, 0, 0, 0.06);
  border-radius: 0.75em;
}

.card__title {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 1.625em;
  color: #5f6980;
}

.card__subtitle {
  margin: 0;
  font-family: "Inter-SemiBold";
  font-size: 26px;
  line-height: 2.5em;
  color: #282828;
}

.card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 0.5em;
  font-family: "Inter-SemiBold";
  font-size: 12px;
  line-height: 1.25em;
}

.card__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125em 0.625em;
  width: 3.375rem;
  height: 1.5rem;

  background: #dcfff5;
  border-radius: 6.25em;
  color: #20c997;
}

.card__from-percent {
  margin: 0;
  color: #9d9fa2;
}

.card__badge--negative {
  background: #ffe0e3;
  color: #dc3545;
}

.card__badge--zero {
  background: #f2f4f7;
  color: #5f6980;
}

/* Chart */

.info-section{
  width: 100%;
  border-radius: 0.75em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  gap: 2em;
}

.info-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.875em;
  border-bottom: 1px solid #eaecf0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.info-section__title {
  margin: 0;
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.875em;
  color: #282828;
}

.info-section__kebab-menu-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 0.125em;
  cursor: pointer;
}

.chart {
  position: relative;
  padding: 0em 1.5em;
  height: 17.875em;
}

.chart__container {
  position: relative;
}

.chart__y-axis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.33em;
  width: -moz-fit-content;
  width: fit-content;

  font-family: "Inter-Regular";
  font-size: 12px;
  line-height: 1.667em;
  color: #9d9fa2;
}

.chart__x-axis {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-left: 4.4167em;

  font-family: "Inter-Regular";
  font-size: 12px;
  line-height: 1.667em;
  color: #9d9fa2;
}

.chart__curves {
  position: absolute;
  top: 0;
  right: 1.5em;
  left: 3.3125em;
  height: 100%;
  width: calc(100% - 3.3125em);
  overflow: hidden;
}

.chart__curves > img {
  width: 100%;
}

.chart__curve-green {
  position: absolute;
  top: 0;
}

.chart__curve-blue {
  position: absolute;
  bottom: 1.125em;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;

  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 1.57em;
  color: #5f6980;
}

.legend__indicator {
  display: inline-block;
  width: 0.857em;
  height: 0.857em;
  border-radius: 50%;
  margin-right: 0.57em;
}

.legend__indicator--instagram {
  background: #5a9cfe;
}

.legend__indicator--facebook {
  background: #20c997;
}

/* Table */

.info-section__table {
  gap: 0;
  margin-bottom: 32px;
}

.table-wrapper {
  overflow-x: auto;
 }

.table-app {
  border-collapse: collapse;
  width: 100%;
}

.table-app thead {
  height: 3.375em;
  background: #F9FAFB;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 1.57em;
  color: #5F6980; 
}

.table-app > thead th {
  font-weight: normal;
  text-align: left;
  padding-left: 24px;
}

.table-app > tbody tr {
  border-bottom: 1px solid #EAECF0;
  height: 4.8125em;
}

.table-app > tbody td {
  padding-left: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 1.57em;
  color: #5F6980; 
}

.table-app__brand {
  display: flex;
  align-items: center;
}

.table-app__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 12px;

  background: #FFFFFF;
  /* Shadow/01 */

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 9.42857px;
}

.table-app__app-title {
  margin: 0;
  font-family: "Inter-SemiBold";
  font-size: 14px;
  line-height: 22px;
  color: #282828;
}

.table-app__badge {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 100px;
}

.table-app__status {
  margin: 0;
  display: inline;
  font-family: "Inter-SemiBold";
  font-size: 12px;
  line-height: 20px;
  
}

.table-app__badge--active {
  background: #DCFFF5;
  color: #20C997;
}

.table-app__badge--pending {
  background: #FFEAD8;
  color: #FD7E14;
}

.table-app__badge--cancelled {
  background: #F2F4F7;
  color: #5F6980;
}

.table-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 24px;
}

.table-navigation__page-number {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 30px;
  color: #282828;
}

.arrow-btn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}




