* {
  box-sizing: border-box;
}

@font-face {
    font-family: Inter-SemiBold;
    src: url(fonts/Inter-SemiBold.woff2) format('TrueType');
    font-weight: 600;
} 

@font-face {
  font-family: Inter-Regular;
  src: url(fonts/inter_Inter-Regular.woff) format('TrueType');
  font-weight: 400;
} 

body {
  margin: 0;
  height: 100vh;
  font-family: "Inter";
  background-color: #f2f4f7;
}

.page {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 14.5em;
  height: 64em;
  background-color: #ffffff;
  border-right: 1px solid #eaecf0;
}

.sidebar-wrapper__logo {
  margin: 1.125em 0 3.375em 1.25em;
}

.logo {
  height: 1.3906em;
  width: 6.2em;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  padding: 0 1.25em;
  font-family: 'Inter-SemiBold';
}

.menu__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
}

.menu__title {
    font-size: 0.75rem;
    line-height: 1.25em;
    color: #9D9FA2;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: #5F6980;
}

.menu-link {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.75em 0;
    gap: 1em;
}

.menu-link__header {
    display: flex;
    justify-content: space-between;
}

.menu-link__frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.menu-link__title {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375em;
}

.menu-link__header--active {
    color: #282828;
}

.menu-link__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.75em;
    gap: 0.75em;
    font-size: 0.875rem;
    line-height: 1.375em;
}

.menu-link__links > p {
    margin: 0;
}

.menu-links__item--active {
    color: #282828;
}

.sidebar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.75em 1.25em;
    gap: 3.875em;
    border-top: 1px solid #EAECF0;
}

.sidebar-footer__icon {
    width: 1.25em;
    height: 1.25em;
}

.central-area {
  width: 100%;
}

.top-bar {
  width: 100%;
  height: 4.125em;
  background-color: #ffffff;
  border-bottom: 1px solid #EAECF0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  padding: 0 1em 0 2.75em;
  font-family: "Inter-Regular";
  font-size: 14px;
  width: 56.5625rem;
  height: 2.875em;

  background: url(images/search.svg) no-repeat 1em center;
  border: 1px solid #EAECF0;
  border-radius: 0.375em;
}

.search::placeholder {
  color: #9D9FA2;
}

.search:focus {
  outline: none;
}

.top-bar__search {
  margin-left: 2em;
}

.notification-container > img {
  display: block;
}

.notification-container:after {
  content: "";
  position: absolute;
  width: 6.86px;
  height: 6.86px;
  left: 16px;
  top: 6px;

  background: #E25563;
  border-radius: 50% 50%;

}

.top-bar__items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 2em;
  margin-right: 2em;
}

.top-bar__icons {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 2em;
}

.avatar-placeholder:after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  right: 0.0625em;
  top: 1.9375em;
  
  background: #20C997;
  border: 1.33333px solid #FFFFFF;
  border-radius: 66.6667px;
}

.avatar-placeholder > img {
  display: block;
  width: 2.5em;
}

.avatar-placeholder {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  border: 1.5px solid #FFFFFF;
  border-radius: 6.25em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
  gap: 2em;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 8em;
  background: #282828;
  border-radius: 1em;
  margin-top: 2em;
  padding: 0 2.25em;
}

.upgrade-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.375em;
  width: 8.9375em;
  height: 2.875em;
  background: #FFFFFF;
  border-style: none;
  border-radius: 2.4375em;
  padding: 0.5625em 1.5em;
  font-family: "Inter-SemiBold";
  font-size: 16px;
}

.banner__message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.5em;
  color: #ffffff;
}

.banner__title {
  margin: 0;
  font-family: "Inter-SemiBold";
  font-size: 28px;
  letter-spacing: -0.0375em;
}

.banner__subtitle {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 1.375em;
}



