@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

:root {
    --grey-icon: invert(49%) sepia(54%) saturate(0%) hue-rotate(170deg)
        brightness(95%) contrast(81%);
    --light-blue-icon: invert(47%) sepia(27%) saturate(4062%) hue-rotate(198deg)
        brightness(97%) contrast(98%) opacity(60%);
    --blue-icon: invert(23%) sepia(49%) saturate(4490%) hue-rotate(209deg)
        brightness(88%) contrast(106%);
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.element-whole-width {
    width: 100%;
}
