* {
    box-sizing: border-box;
}

:root {
    --grey-icon: invert(49%) sepia(54%) saturate(0%) hue-rotate(170deg)
        brightness(95%) contrast(81%);
    --light-blue-icon: invert(47%) sepia(27%) saturate(4062%) hue-rotate(198deg)
        brightness(97%) contrast(98%) opacity(60%);
    --blue-icon: invert(23%) sepia(49%) saturate(4490%) hue-rotate(209deg)
        brightness(88%) contrast(106%);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 2.75em auto 0;
}

.app-wraper__heading {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.75em;
}

.heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.125em;
}

.subheading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375em;
}

.top-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-text {
    width: 100%;
    min-width: 12.5em;
    height: 3.25rem;
    padding: 1em 1.3125em;
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    border-radius: 0.75rem;

    font-family: "Nunito";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    color: #000000;
}

.popup__input-text {
    margin-top: 2.375em;
}

.input-text:focus {
    outline: none;
}

.input-text::placeholder {
    color: #838383;
    opacity: 1;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
}

.input-text::-webkit-search-cancel-button {
    cursor: pointer;
}

.new-task-btn {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25em;
    color: #0053cf;
    background: rgba(60, 134, 244, 0.15);
    border-radius: 0.75em;
    border: none;
    cursor: pointer;
    padding: 1em 2.2em;
    white-space: nowrap;
}

.top-panel__new-task-btn {
    margin-left: 2.5em;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    width: 32.75em;
    min-height: 21.875em;
    max-height: 31.25em;
    background-color: #ffffff;
    border-radius: 1.5em;
    padding: 1.5em 1.6875em 1.375em 2em;
    z-index: 2;
}

.popup h2 {
    text-align: center;
    line-height: 2.04625em;
    margin: 0;
}

.create-task-form {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    width: 49%;
    height: 3.25em;
    padding: 0;
    border: none;
    background: #fff;
    color: #0053cf;
    font-family: "Nunito";
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25em;
    border-radius: 0.75em;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #f5f5f5;
}

.general-btn {
    width: 49%;
    height: 3.25em;
    padding: 0;
    border: none;
    background: rgba(60, 134, 244, 0.15);
    color: #0053cf;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25em;
    border-radius: 0.75em;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: auto;
}

.confirm-btn[disabled] {
    color: #fff;
    background: #d3d3d3;
    cursor: not-allowed;
}

.confirm-btn:not([disabled]):hover {
    color: #0053cf;
    background: rgba(60, 134, 244, 0.35);
}

.confirm-btn:not([disabled]):active {
    color: #fff;
    background: #3c86f4;
}

.date-picker {
    font-family: 'Nunito';
    padding: 0.625em 1em;
    background: #FFFFFF;
    border: 2px solid rgba(60, 134, 244, 0.6);
    border-radius: 0.75em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    color: #1D1D1D;
    width: 8.125em;
}

.date-picker::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.popup__date-picker {
    position: relative;
    margin-top: 1.125em;
    margin-bottom: 5.75em;
    align-self: flex-end;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.tasks-section {
    margin-top: 2.625em;
    width: 30.125em;
}

.tasks-section__subheading {
    margin: 0;
}

.task-section {
    margin: 1em 0 2em 0;
    padding-left: 0.75em;
    padding-right: 0.6875em;
}

.tasks-section li {
    list-style-type: none;
}

.task-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25em;
    margin-bottom: 1.3125em;
}

.checkbox {
    appearance: none;
    position: relative;
    margin: 0;
    background: #ffffff;
    border: 2px solid #d3d3d3;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
}

.checkbox:checked {
    background: #3c86f4;
    border: 2px solid #3c86f4;
    background-image: url(images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox:disabled {
    background: #d3d3d3;
    background-image: url(images/check.svg);
    border: 2px solid #d3d3d3;
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
}

.task-row__title {
    flex-basis: 23.8125em;
}

.task-row__title--completed {
    color: #838383;
}

.bucket-icon {
    filter: var(--grey-icon);
    cursor: pointer;
}

.bucket-icon:hover {
    filter: var(--light-blue-icon);
}

.bucket-icon:active {
    filter: var(--blue-icon);
}

.weather {
    display: flex;
    align-items: center;
}

.weather__temperature {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    margin: 0 5.2778em 0 0;
}

.weather__city {
    font-weight: 500;
    font-size: 18px;
    line-height: 2em;
    color: #838383;
    margin: 0;
}

.weather__icon {
    width: 3.5625em;
    margin-right: 1.375em;
}

.task-row__date {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3333em;
    color: #838383;
}


.element-whole-width {
    width: 100%;
}

.popup__text {
    margin-top: 0.9375em;
    margin-bottom: 0.5625em;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;
    color: #000000;
}

.popup__tasks-list {
    list-style-type: none;
    margin: 0 0 0.5625em 0;
    padding-left: 1.5em;
    overflow-x: auto;
}

.popup__tasks-list li {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.375em;
    margin-bottom: 0.5625em;
}

.popup__tasks-list li:last-child {
    margin-bottom: 0;
}




